@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
canvas{
    margin: auto;
    display: block;
    float: right;
    padding: 3vh;
}
body{
    font-family: 'IBM Plex Mono', monospace;
}
#main-text{
    color: slategray;
}
#about{
    color: rgb(116, 122, 129);
    text-decoration: underline;
}
#text{
    color: slategray;
    display: inline;
}
#progress{
    display: inline;
}
#outOf{
    color: slategray;
    display: inline;
}