canvas{
    margin: auto;
    display: block;
    float: right;
}
#main-text{
    color: slategray;
}
#about{
    color: rgb(116, 122, 129);
    text-decoration: underline;
}
#text{
    color: slategray;
    display: inline;
}
#progress{
    display: inline;
}
#outOf{
    color: slategray;
    display: inline;
}